<h1>Listing users</h1>

<table>
  <tr>
    <th>Token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.token %></td>
    <td><%= link_to 'Send notification',  controller: "welcome", action: "send_notification", token: user.token%></td>
  </tr>
<% end %>
</table>
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450 src="http://music.163.com/outchain/player?type=0&id=3363356&auto=1&height=430"></iframe>
