<p id="notice"><%= notice %></p>

<p>
  <strong>Customeruseremail:</strong>
  <%= @order.customerUserEmail %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
